*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: 'Noto Sans', sans-serif;
}

.container {
  width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.developer-flex{
  display: flex;
  align-items: center;
  margin-bottom: 120px;
}
.developer-title{
  width:370px;
  height: 108;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  color: #163A24;
}
.developer-text{
  width: 370px;
  height: 81px;
  font-size: 18px;
  line-height: 27px;
  color: #163A24;
}
.developer-row{
  width: 393px;
  height: 227px;
  margin-right: 98px;
}
.consider{
  align-items: center;
}
.consider-title{
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  color: #163A24;
  margin-bottom: 26px;
}
.consider-text{
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #163A24;
  margin-bottom: 15px;
}
.top{
  display: flex;
  justify-content:space-around;
  margin-bottom: 160px;
}

.top-protect{
  background: #FBFAF7;
  box-shadow: 5px 5px 20px #E9E4D5;
  border-radius: 15px;
  padding: 45px;
  height: 340px;
}
.protect-title{
  font-weight: 600;
  font-size: 28px;
  line-height: 31px;
  color: #163A24;
  margin-bottom: 23px;
  margin-top: 20px;
}
.protect-list{
  list-style: none;
  font-size: 16px;
  line-height: 22px;
  color: #163A24;
}
.protect-list li{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  
}


.protect-list li::before{
  content: '';
  display: block;
  border-radius: 50%;
  background: #163A24;
  width: 6px;
  height: 6px;
  margin-right: 15px;
}



.top-set{
  background: #FBFAF7;
  box-shadow: 5px 5px 20px #E9E4D5;
  border-radius: 15px;
  padding: 45px;
  height: 370px;
}
.set-title{
  font-weight: 600;
  font-size: 28px;
  line-height: 31px;
  color: #163A24;
  margin-bottom: 23px;
  margin-top: 20px;
}
.set-list{
  list-style: none;
  font-size: 16px;
  line-height: 22px;
  color: #163A24;
}
.set-list li{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  
}


.set-list li::before{
  content: '';
  display: block;
  border-radius: 50%;
  background: #163A24;
  width: 6px;
  height: 6px;
  margin-right: 15px;
}

.top-know{
  background: #FBFAF7;
  box-shadow: 5px 5px 20px #E9E4D5;
  border-radius: 15px;
  padding: 45px;
  height: 340px;
}
.know-title{
  font-weight: 600;
  font-size: 28px;
  line-height: 31px;
  color: #163A24;
  margin-bottom: 23px;
  margin-top: 20px;
}
.know-list{
  list-style: none;
  font-size: 16px;
  line-height: 22px;
  color: #163A24;
}
.know-list li{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  
}


.know-list li::before{
  content: '';
  display: block;
  border-radius: 50%;
  background: #163A24;
  width: 6px;
  height: 6px;
  margin-right: 15px;
}
#easy{
  margin-bottom: 124px;
  background: #F2EFE6;
  padding-top: 120px;
  padding-bottom: 120px;
  
}
.easy{
  display: flex;
  align-items: center;
}
.easy-title{
  font-weight: 600;
  font-size: 47px;
  line-height: 54px;
  text-align: center;
  color: #163A24;
  padding-bottom: 30px;
}
.easy-text{
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #163A24;
  
}
.easy-btn{
  background: #198C36;
  border-radius: 160px;
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FBFAF7;
  padding: 15px 25px;
  margin-left: 450px;
}
.form-text{
  width: 215px;
  text-align: center;
}
.form-text span{
  font-weight: 600;
  font-size: 28px;
  line-height: 31px;
  text-align: center;
  color: #163A24;
}
.follow-up{
  display: flex;
}
.follow-up p {
  width: 210px;
  text-align: center;
}
.follow-up-text{
  font-weight: 600;
  font-size: 28px;
  line-height: 31px;
  text-align: center;
  color: #163A24;
}

.follow-up::before{
  content: '';
  display: block;
  background-image: url(../img/Group.svg);
  background-repeat: no-repeat;
  width: 80px;
  height: 40px;
  margin: 0 80px;
}
.follow-up::after{
  content: '';
  display: block;
  background-image: url(..//img/Group.svg);
  background-repeat: no-repeat;
  width: 80px;
  height: 40px;
  margin: 0 80px;
}
.book{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.book-title{
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  color: #163A24;
  margin-bottom: 20px;
}
.book-text{
  font-size: 18px;
  line-height: 27px;
  color: #163A24;
  margin-bottom: 40px;
}
.book-btn{
  background: #198C36;
  border-radius: 160px;
  padding: 15px 25px;
  color: #fff;
  text-decoration: none;
}


.started{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #163A24;
  
}
.started-title{
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  color: #FBFAF7;
  margin-bottom: 26px;
}
.started-text{
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #FBFAF7;
  margin-bottom: 18px;
}
.started-btn{
  background: #FAB5A0;
  border-radius: 160px;
  color: #163A24;
  padding: 15px 25px;
  margin-left: 165px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #163A24;
}
.started-list{
  margin-left: 10px;
}
#date{
  margin-bottom: 50px;
  background: #F2EFE6;
}
.date{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 240px;
  
}

.date-title{
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  color: #163A24;
  margin-bottom: 26px;
}
.date-text{
  font-size: 18px;
  line-height: 27px;
  color: #163A24;
}
.date-item{
  justify-content: space-between;
  margin-top: 54px;
}
.date-sign{
  margin-bottom: 11px;
  text-align: right;
}

.sign{
  background: #15762E;
  border-radius: 160px;
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  color: #FBFAF7;
  padding: 15px 25px;
}

.sign-info{
  font-size: 14px;
  line-height: 21px;
  color: #163A24;
  width: 490px;
}
.sign-info span {
  font-size: 14px;
  line-height: 21px;
  color: #198C36;
}
.social{
  margin-right: 80px;
}
.footer-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-flex-list{
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #163A24;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 19px;
}
.flex-list{
  font-size: 14px;
  line-height: 21px;
  color: #163A24;
}
.foter{
  display: flex;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  color: #198C36;
}

.social img {
  padding-left: 10px;
}
